body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(135deg, #0a0a1f, #02021c);
    color: #0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(0,0,0,0.6);
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px #0ff, 0 0 60px #0ff inset;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

#keyBox {
    font-size: 3rem;
    letter-spacing: 5px;
    color: #00ffffaa; /* semitransparente antes de revelar */
    margin-bottom: 30px;
    transition: color 0.5s, text-shadow 0.5s;
}

#revealBtn {
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0ff;
    background: transparent;
    border: 2px solid #0ff;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff inset;
}

#revealBtn:hover {
    background: #0ff1;
    box-shadow: 0 0 20px #0ff, 0 0 40px #0ff inset;
}
